{% extends 'base_page_struct.html' %}

{% block content %}
{% load static %}
<div class="container-fluid">

    {% block manage_lists_set %}
    {% endblock manage_lists_set %}


    {% block lists_set %}
    <div class="row px-0 px-md-3">

        {% for hero in heroes %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3 p-0 p-sm-2">
            <div class="card h-100 hero-instance" style="min-width:280px; max-width: 600px;"
                 list_uuid="{{ hero.list_uuid }}">

                <h5 class="card-header d-flex align-items-center">

                    {% if hero.user == request.user %}
                        {% block trash_icon %}
                        {% endblock trash_icon %}
                    {% endif %}


                    <span id="id_likes_counter" style="color: #5e5e5e; font-size: 0.8em;">
                    {{ hero.likes }}
                    </span>


                    {% if request.user in hero.likers.all %}
                    <a href="" class="toggleLikeBtn">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart-fill pt-2 pb-2 pr-2"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </a>
                    {% else %}
                    <a href="" class="toggleLikeBtn" data-toggle="tooltip" data-placement="top"
                       title="Оценить">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart pt-2 pb-2 pr-2"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    </a>
                    {% endif %}


                    <a href="#" class="p-2 getPdfBtn" data-toggle="tooltip" data-placement="top" title="Получить PDF">
                        <svg height="0.7em" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="7 33 34 13">
                            <path
                                    d="m 18.1,36.79 a 1.25,1.25 0 0 0 -0.45,-0.37 1.68,1.68 0 0 0 -0.77,-0.15 h -0.93 v 3 h 1.14 a 1.36,1.36 0 0 0 0.45,-0.08 1.14,1.14 0 0 0 0.41,-0.25 1.25,1.25 0 0 0 0.3,-0.49 2.33,2.33 0 0 0 0.11,-0.78 2.11,2.11 0 0 0 -0.05,-0.43 1.24,1.24 0 0 0 -0.21,-0.45 z"
                                    id="path10"
                                    style="fill:#231f20"/>
                            <path
                                    d="M 6.93,34.620923 C 6.93,44.48 6.93,44.48 6.93,44.48 7.088681,45.381155 7.8854337,46.028783 8.8,46 h 30.4 c 0.914566,0.02878 1.711319,-0.618845 1.87,-1.52 0,0 0,0 0,-9.859077 C 41.07,33.817451 40.003472,33.1 39.2,33.1 c -30.4,0 0,0 -30.4,0 -0.8034721,0 -1.87,0.717451 -1.87,1.520923 z M 19.37,38.74 c -0.12306,0.300546 -0.310848,0.570277 -0.55,0.79 -0.240677,0.207784 -0.519065,0.367348 -0.82,0.47 -0.353663,0.12251 -0.725734,0.183395 -1.1,0.18 H 15.98 V 43 H 14.7 v -7.68 h 2.2 c 0.339864,-0.002 0.677734,0.05203 1,0.16 0.313773,0.100957 0.605583,0.260435 0.86,0.47 0.25132,0.206814 0.458723,0.461818 0.61,0.75 0.158974,0.308895 0.238047,0.65269 0.23,1 -0.0071,0.358468 -0.08529,0.711961 -0.23,1.04 z m 7.63,1.8 c -0.111208,0.397406 -0.283244,0.77521 -0.51,1.12 -0.185928,0.279135 -0.42353,0.520132 -0.7,0.71 -0.233325,0.159824 -0.485161,0.290779 -0.75,0.39 -0.213108,0.08067 -0.434436,0.137683 -0.66,0.17 H 23.93 21 v -7.61 h 2.3 c 0.581652,-0.01085 1.159617,0.09454 1.7,0.31 0.45538,0.182715 0.86753,0.458617 1.21,0.81 0.342516,0.326352 0.611794,0.721747 0.79,1.16 0.158205,0.425602 0.23947,0.875945 0.24,1.33 -0.0014,0.54547 -0.08229,1.087824 -0.24,1.61 z m 6.79,-4.28 h -3.52 v 2.41 h 3.19 v 0.85 H 30.27 V 43 H 29 v -7.68 h 4.78 z"
                                    id="path14"
                                    style="fill:#231f20"/>
                            <path
                                    d="M 25.34,37.11 A 2.33,2.33 0 0 0 24.45,36.5 3.82,3.82 0 0 0 23,36.27 h -0.73 v 5.79 h 1.23 a 2.06,2.06 0 0 0 1.83,-0.81 4.1,4.1 0 0 0 0.56,-2.34 4,4 0 0 0 -0.11,-0.94 2,2 0 0 0 -0.44,-0.86 z"
                                    id="path16"
                                    style="fill:#231f20"/>
                        </svg>
                    </a>

                    {% block download_icon %}
                    {% endblock download_icon %}


                    {% if hero.published %}

                        {% block refuse_icon %}
                        {% endblock refuse_icon %}

                    {% else %}

                        {% block publish_icon %}
                        {% endblock publish_icon %}

                    {% endif %}

                </h5>
                {% load static %}
                {% if hero.character_appearance %}
                <img src="{{ hero.character_appearance.url }}"
                     class="card-img-top img-fluid mx-auto character_card_appearance" alt="Внешний вид героя">
                {% else %}
                <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-card-image mx-auto mt-5" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
                    <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                </svg>
                {% endif %}

                <div class="card-body d-flex flex-column justify-content-end">
                    <h5 class="card-title">
                        <span style="color: #5e5e5e;">Имя: </span>
                        {{ hero.character_name }}
                    </h5>
                    <h6 class="card-subtitle mb-3">
                        <span style="color: #5e5e5e;">Раса: </span>
                        {{ hero.character_race }}
                    </h6>
                    <p class="card-text pb-2" style="max-height: 5em; overflow-y: auto;">
                        <span style="color: #5e5e5e;">Предыстория: </span>
                        {{ hero.backstory }}
                    </p>
                    <a href="#" class="main-action-btn editHeroBtn">Посмотреть героя</a>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
    {% endblock lists_set %}

</div>
{% endblock content %}


{% block integrated_js %}
{{ block.super }}

<script>

    $(".hero-instance").each(function () {
        let chosen_hero = $(this);
        let list_uuid = $(this).attr("list_uuid");

        let json_data = {};
        json_data["csrfmiddlewaretoken"] = getCookie('csrftoken');
        json_data["list_uuid"] = list_uuid;

        function publishHero(event) {
            event.preventDefault();
            $.post("{% url 'manage_lists:publish_hero' %}", json_data, function (data) {
                window.location.href = data.url;
            });
        }

        $(this).find(".editHeroBtn:first").click(function (event) {
            event.preventDefault();
            window.location.href = "/heroes/my_heroes/edit/" + list_uuid;
        });

        $(this).find(".saveToMeBtn:first").click(function (event) {
            event.preventDefault();
            $.post("{% url 'manage_lists:add_hero' %}", json_data, function (data) {
                $("#id_downloads_counter").html(data.updated_downloads);
                window.location.href = data.url;
            });
        });

        $(this).find(".getPdfBtn:first").click(function (event) {
            event.preventDefault();
            window.location.href = "get_pdf/" + list_uuid;

        });

        $(this).find(".toggleLikeBtn:first").click(function (event) {
            event.preventDefault();
            let likeCondition = $(this);
            $.post("{% url 'manage_lists:like_hero' %}", json_data, function (data) {
                if (data.was_like_added) {
                    likeCondition.html("                        <svg width=\"2em\" height=\"2em\" viewBox=\"0 0 16 16\" class=\"bi bi-heart-fill pt-2 pb-2 pr-2\"\n" +
                        "                             fill=\"currentColor\"\n" +
                        "                             xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z\"/>\n" +
                        "                        </svg>");
                } else {
                    likeCondition.html("                        <svg width=\"2em\" height=\"2em\" viewBox=\"0 0 16 16\" class=\"bi bi-heart pt-2 pb-2 pr-2\" fill=\"currentColor\"\n" +
                        "                             xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "                            <path fill-rule=\"evenodd\"\n" +
                        "                                  d=\"M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z\"/>\n" +
                        "                        </svg>");
                }
                chosen_hero.find("#id_likes_counter").html(data.updated_likes);
            });
        });

        $(this).find(".refuseHeroBtn:first").click(function (event) {
            event.preventDefault();
            let replace_icon = $(this);
            $.post("{% url 'manage_lists:delete_global_hero' %}", json_data, function (data) {
                if (window.location.href.endsWith("my_heroes/")) {
                    replace_icon.replaceWith("<a href=\"#\" class=\"publishHeroBtn\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Поделиться\">\n" +
                        "    <svg width=\"2em\" height=\"2em\" viewBox=\"0 0 16 16\" class=\"bi bi-cloud-arrow-up p-2\" fill=\"currentColor\"\n" +
                        "         xmlns=\"http://www.w3.org/2000/svg\">\n" +
                        "        <path fill-rule=\"evenodd\"\n" +
                        "              d=\"M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z\"/>\n" +
                        "        <path fill-rule=\"evenodd\"\n" +
                        "              d=\"M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z\"/>\n" +
                        "    </svg>\n" +
                        "</a>");

                    chosen_hero.find(".publishHeroBtn:first").click(publishHero);

                } else {
                    if (data.OK) chosen_hero.parent().remove();
                }

            });
        });

        $(this).find(".publishHeroBtn:first").click(publishHero);

        $(this).find(".deleteHeroBtn:first").click(function (event) {
            event.preventDefault();
            $.post("{% url 'manage_lists:delete_local_hero' %}", json_data, function (data) {
                if (data.OK) chosen_hero.parent().remove();
            });
        });
    });

</script>
{% endblock integrated_js %}