{% extends 'base_page_struct.html' %}


{% block title %}
Страница создания персонажа и героя для игры в Dungeons&nbsp;&amp;&nbsp;Dragons
{% endblock title %}


{% block link_css %}
{{ block.super }}

{% load static %}
<link rel="stylesheet" href="{% static '/manage_lists/css/list_creator_style.css' %}">
{% endblock link_css %}


{% block content %}
<!-- Header on first pdf page -->
<form method="post" enctype="multipart/form-data">

</form>

<div id="CHARACTER" class="heroInstance" list_data='{{ updating_user_list.json_conf }}'
     list_uuid="{{ updating_user_list.list_uuid }}">


    <div class="headerPdf">
        <div class="nameField characterName">
            <input id="CHARACTER_NAME" type="text" maxlength="100"/>
            <p class="inputLabel">ИМЯ ПЕРСОНАЖА</p>
        </div>

        <div class="baseFeatures">
            <div class="pdfPageRow">
                <div class="fieldItem">
                    <input id="CLASS_LEVEL" type="text">
                    <p class="inputLabel">КЛАСС И УРОВЕНЬ</p>
                </div>
                <div class="fieldItem">
                    <input id="BACKGROUND" type="text">
                    <p class="inputLabel">ПРЕДЫСТОРИЯ</p>
                </div>
                <div class="fieldItem">
                    <input id="PLAYER_NAME" type="text">
                    <p class="inputLabel">ИМЯ ИГРОКА</p>
                </div>
            </div>
            <div class="pdfPageRow">
                <div class="fieldItem">
                    <input id="RACE" type="text">
                    <p class="inputLabel">РАСА</p>
                </div>
                <div class="fieldItem">
                    <input id="ALIGNMENT" type="text">
                    <p class="inputLabel">МИРОВОЗЗРЕНИЕ</p>
                </div>
                <div class="fieldItem">
                    <input id="EXPERIENCE_POINTS" type="text">
                    <p class="inputLabel">ОПЫТ</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End header on first pdf page -->


    <!-- Fields on first pdf page -->
    <div class="pdfPage">
        <div class="pdfColumn pdfColumnFirst">
            <div class="hi">
                <div class="firstSection">
                    <div class="sixOfSection">
                        <p class="inputLabel">СИЛА</p>
                        <input id="STRENGTH" class="sixOfSectionFirstField" type="text">
                        <input id="STRE" class="sixOfSectionSecondField" type="text">
                    </div>
                    <div class="sixOfSection">
                        <p class="inputLabel">ЛОВКОСТЬ</p>
                        <input id="DEXTERITY" class="sixOfSectionFirstField" type="text">
                        <input id="DEXE" class="sixOfSectionSecondField" type="text">
                    </div>
                    <div class="sixOfSection">
                        <p class="inputLabel">ТЕЛОСЛОЖЕНИЕ</p>
                        <input id="CONSTITUTION" class="sixOfSectionFirstField" type="text">
                        <input id="CONSTE" class="sixOfSectionSecondField" type="text">
                    </div>
                    <div class="sixOfSection">
                        <p class="inputLabel">ИНТЕЛЛЕКТ</p>
                        <input id="INTELLIGENCE" class="sixOfSectionFirstField" type="text">
                        <input id="INTELE" class="sixOfSectionSecondField" type="text">
                    </div>
                    <div class="sixOfSection">
                        <p class="inputLabel">МУДРОСТЬ</p>
                        <input id="WISDOM" class="sixOfSectionFirstField" type="text">
                        <input id="WISE" class="sixOfSectionSecondField" type="text">
                    </div>
                    <div class="sixOfSection">
                        <p class="inputLabel">ХАРИЗМА</p>
                        <input id="CHARISMA" class="sixOfSectionFirstField" type="text">
                        <input id="CHARE" class="sixOfSectionSecondField" type="text">
                    </div>
                </div>

                <div class="secondSection">
                    <div class="inspiration">
                        <div class="inspirationFirst"><input id="INSPIR" type="text"></div>
                        <div class="inspirationSecond"><p class="inputLabel">ВДОХНОВЕНИЕ</p></div>
                    </div>
                    <div class="inspiration">
                        <div class="inspirationFirst"><input id="PRB" type="text"></div>
                        <div class="inspirationSecond"><p class="inputLabel">БОНУС МАСТЕРСТВА</p></div>
                    </div>

                    <div class="savingTrows">
                        <div class="savingTrowsElem">
                            <input id="SAVING_THROWS_Check_Strength" type="checkbox">
                            <input id="ST1" type="text">
                            <p class="inputLabel">Сила</p>
                        </div>
                        <div class="savingTrowsElem">
                            <input id="SAVING_THROWS_Check_Dexterity" type="checkbox">
                            <input id="ST2" type="text">
                            <p class="inputLabel">Ловкость</p>
                        </div>
                        <div class="savingTrowsElem">
                            <input id="SAVING_THROWS_Check_Constitution" type="checkbox">
                            <input id="ST3" type="text">
                            <p class="inputLabel">Телосложение</p>
                        </div>
                        <div class="savingTrowsElem">
                            <input id="SAVING_THROWS_Check_Intelligence" type="checkbox">
                            <input id="ST4" type="text">
                            <p class="inputLabel">Интеллект</p>
                        </div>
                        <div class="savingTrowsElem">
                            <input id="SAVING_THROWS_Check_Wisdom" type="checkbox">
                            <input id="ST5" type="text">
                            <p class="inputLabel">Мудрость</p>
                        </div>
                        <div class="savingTrowsElem">
                            <input id="SAVING_THROWS_Check_Charisma" type="checkbox">
                            <input id="ST6" type="text">
                            <p class="inputLabel">Харизма</p>
                        </div>
                        <p class="inputLabel">СПАСБРОСКИ</p>
                    </div>


                    <div class="skills">
                        <div class="skillsElem">
                            <input id="Acrobatics_Checkbox" type="checkbox">
                            <input id="SK1" type="text">
                            <p class="inputLabel">Акробатика</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Animal_Handling_Checkbox" type="checkbox">
                            <input id="SK2" type="text">
                            <p class="inputLabel">Уход за животными</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Arcana_Checkbox" type="checkbox">
                            <input id="SK3" type="text">
                            <p class="inputLabel">Магия</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Athletics_Checkbox" type="checkbox">
                            <input id="SK4" type="text">
                            <p class="inputLabel">Атлетика</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Deception_Checkbox" type="checkbox">
                            <input id="SK5" type="text">
                            <p class="inputLabel">Обман</p>
                        </div>
                        <div class="skillsElem">
                            <input id="History_Checkbox" type="checkbox">
                            <input id="SK6" type="text">
                            <p class="inputLabel">История</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Insight_Checkbox" type="checkbox">
                            <input id="SK7" type="text">
                            <p class="inputLabel">Проницательность</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Intimidation_Checkbox" type="checkbox">
                            <input id="SK8" type="text">
                            <p class="inputLabel">Запугивание</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Investigation_Checkbox" type="checkbox">
                            <input id="SK9" type="text">
                            <p class="inputLabel">Анализ</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Medicine_Checkbox" type="checkbox">
                            <input id="SK10" type="text">
                            <p class="inputLabel">Медецина</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Nature_Checkbox" type="checkbox">
                            <input id="SK11" type="text">
                            <p class="inputLabel">Природа</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Perception_Checkbox" type="checkbox">
                            <input id="SK12" type="text">
                            <p class="inputLabel">Внимательность</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Performance_Checkbox" type="checkbox">
                            <input id="SK13" type="text">
                            <p class="inputLabel">Выступление</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Persuasion_Checkbox" type="checkbox">
                            <input id="SK14" type="text">
                            <p class="inputLabel">Убеждение</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Religion_Checkbox" type="checkbox">
                            <input id="SK15" type="text">
                            <p class="inputLabel">Религия</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Sleight_Hand_Checkbox" type="checkbox">
                            <input id="SK16" type="text">
                            <p class="inputLabel">Ловкость рук</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Stealth_Checkbox" type="checkbox">
                            <input id="SK17" type="text">
                            <p class="inputLabel">Скрытность</p>
                        </div>
                        <div class="skillsElem">
                            <input id="Survival_Checkbox" type="checkbox">
                            <input id="SK18" type="text">
                            <p class="inputLabel">Выживание</p>
                        </div>
                        <p class="inputLabel">НАВЫКИ</p>
                    </div>
                </div>
            </div>


            <div class="preception">
                <input id="PERCEP" type="text">
                <p class="inputLabel">ПАССИВНАЯ МУДРОСТЬ (ВНИМАТЕЛЬНОСТЬ)</p>
            </div>

            <div class="proficienciesLanguages">
                <textarea id="PROFICIENCIES_LANGUAGES"></textarea>
                <p class="inputLabel">ПРОЧИЕ ВЛАДЕНИЯ И ЯЗЫКИ</p>
            </div>
        </div>
        <!------------------------------------ END FIRST COLUMN ------------------------------->
        <div class="pdfColumn">
            <div class="shilds">
                <div class="armor">
                    <input id="ARMOR_CL" type="text">
                    <p>КД</p>
                </div>

                <div class="initiative">
                    <input id="INITIATIVE" type="text">
                    <p>ИНИЦИАТИВА</p>
                </div>

                <div class="speed">
                    <input id="SPEED" type="text">
                    <p>СКОРОСТЬ</p>
                </div>
            </div>


            <div class="hitPoints">
                <div class="hitPointsMax">
                    <p>Максимум хитов</p>
                    <input id="HIT_POINT_MAX" type="text">
                </div>
                <input id="CURRENT_HIT_POINTS" class="curHit" type="text">
                <p class="inputLabel">ТЕКУЩИЕ ХИТЫ</p>
            </div>


            <div class="temporaryhitPoints">
                <input id="TEMPORARY_HIT_POINTS" class="curHit" type="text">
                <p class="inputLabel">ВРЕМЕННЫЕ ХИТЫ</p>
            </div>

            <div class="hitSaves">

                <div class="hitDice">
                    <div class="hitDiceTotal">
                        <p>Итого</p>
                        <input id="HIT_DICE_TOTAL" type="text">
                    </div>
                    <input id="HIT_DICE" class="curHit" type="text">
                    <p class="inputLabel">КОСТЬ ХИТОВ</p>
                </div>

                <div class="deathSaves">
                    <div class="success">
                        <p>УСПЕХИ</p>
                        <div class="checkGroup">
                            <input id="SUCCESSES1" type="checkbox">
                            <input id="SUCCESSES2" type="checkbox">
                            <input id="SUCCESSES3" type="checkbox">
                        </div>
                    </div>
                    <div class="failures">
                        <p>ПРОВАЛЫ</p>
                        <div class="checkGroup">
                            <input id="FAILURES1" type="checkbox">
                            <input id="FAILURES2" type="checkbox">
                            <input id="FAILURES3" type="checkbox">
                        </div>
                    </div>
                    <p class="inputLabel">СПАСБРОСКИ ОТ СМЕРТИ</p>
                </div>
            </div>

            <div class="attackSpellcasting">
                <div class="attackComponents">
                    <div class="attackColumn">
                        <p>НАЗВАНИЕ</p>
                        <input id="ATT1" type="text">
                        <input id="ATT2" type="text">
                        <input id="ATT3" type="text">
                    </div>
                    <div class="attackColumn">
                        <p>БОНУС АТАКИ</p>
                        <input id="AB1" type="text">
                        <input id="AB2" type="text">
                        <input id="AB3" type="text">
                    </div>
                    <div class="attackColumn">
                        <p>УРОН / ВИД</p>
                        <input id="DAMT1" type="text">
                        <input id="DAMT2" type="text">
                        <input id="DAMT3" type="text">
                    </div>
                </div>

                <textarea id="ATTACKS_SPELLCASTING"></textarea>
                <p class="inputLabel">АТАКИ И ЗАКЛИНАНИЯ</p>
            </div>


            <div class="equipment">
                <div class="equipmentConsistence">
                    <div class="equipmentElements">
                        <div class="equipmentElem"><input type="text" id="EQ1" placeholder="ММ"></div>
                        <div class="equipmentElem"><input type="text" id="EQ2" placeholder="СМ"></div>
                        <div class="equipmentElem"><input type="text" id="EQ3" placeholder="ЭМ"></div>
                        <div class="equipmentElem"><input type="text" id="EQ4" placeholder="ЗМ"></div>
                        <div class="equipmentElem"><input type="text" id="EQ5" placeholder="ПМ"></div>
                    </div>
                    <textarea id="EQUIPMENT"></textarea>

                </div>
                <p class="inputLabel">СНАРЯЖЕНИЕ</p>
            </div>

        </div>
        <!------------------------------------ END SECOND COLUMN ------------------------------->
        <div class="pdfColumn firstPageThirdColumn">
            <div class="personalityTraits">
                <textarea id="PERSONALITY_TRAITS"></textarea>
                <p class="inputLabel">ЧЕРТЫ ХАРАКТЕРА</p>
            </div>

            <div class="ideals">
                <textarea id="IDEALS"></textarea>
                <p class="inputLabel">ИДЕАЛЫ</p>
            </div>

            <div class="bonds">
                <textarea id="BONDS"></textarea>
                <p class="inputLabel">ПРИВЯЗАННОСТИ</p>
            </div>

            <div class="flaws">
                <textarea id="FLAWS"></textarea>
                <p class="inputLabel">СЛАБОСТИ</p>
            </div>

            <div class="featuresTraits">
                <textarea id="FEATURES_TRAITS"></textarea>
                <p class="inputLabel">УМЕНИЯ И ОСОБЕННОСТИ</p>
            </div>
        </div>
        <!------------------------------------ END THIRD COLUMN ------------------------------->
    </div>
    <!-- END FIRST PDF PAGE -------------------------------------------------------------- -->
    <!-- START SECOND PDF PAGE -------------------------------------------------------------- -->
    <div class="headerPdf headerPdf2">
        <div class="fictive_2_page"></div>
        <div class="baseFeatures">
            <div class="pdfPageRow">
                <div class="fieldItem">
                    <input id="AGE" type="text">
                    <p class="inputLabel">ВОЗРАСТ</p>
                </div>
                <div class="fieldItem">
                    <input id="HEIGHT" type="text">
                    <p class="inputLabel">РОСТ</p>
                </div>
                <div class="fieldItem">
                    <input id="WEIGHT" type="text">
                    <p class="inputLabel">ВЕС</p>
                </div>
            </div>
            <div class="pdfPageRow">
                <div class="fieldItem">
                    <input id="EYES" type="text">
                    <p class="inputLabel">ГЛАЗА</p>
                </div>
                <div class="fieldItem">
                    <input id="SKIN" type="text">
                    <p class="inputLabel">КОЖА</p>
                </div>
                <div class="fieldItem">
                    <input id="HAIR" type="text">
                    <p class="inputLabel">ВОЛОСЫ</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End header on second pdf page -->

    <div class="pdfPage">
        <div class="pdfColumn secondPageFirtstColumn">
            <div class="characterAppearance">
                <input class="characterImg" id="CHARACTER_APPEARANCE" type="file">
                {% if updating_user_list.character_appearance %}
                <img id="APP_IMG" src="{{ updating_user_list.character_appearance.url }}"
                                 alt="Внешний вид персонажа"
                                 style="" />
                {% endif %}
                <p class="inputLabel">ВНЕШНИЙ ВИД ПЕРСОНАЖА</p>
            </div>

            <div class="characterBackstory">
                <textarea id="CHARACTER_BACKSTORY"></textarea>
                <p class="inputLabel">ПРЕДЫСТОРИЯ ПЕРСОНАЖА</p>
            </div>
        </div>
        <!------------------------------------ END FIRST COLUMN ------------------------------->

        <div class="pdfColumn secondPagesecondColumn">
            <div class="AlliesOrganizations">
                <div class="alien">
                    <textarea id="ALLIES_ORGANIZATIONS"></textarea>
                    <div class="symbol">
                        <p>НАЗВАНИЕ</p>
                        <input id="ALLIES_ORGANIZATIONS_NAME" type="text">
                        <input class="characterImg" id="ALLIES_ORGANIZATIONS_FILE" type="file">
                        {% if updating_user_list.allies_organizations_symbol %}
                            <img id="ALL_IMG" src="{{ updating_user_list.allies_organizations_symbol.url }}"
                                 alt=""
                                 style="background-size: auto 100% !important;"/>
                        {% endif %}

                        <p class="inputLabel">СИМВОЛ</p>
                    </div>
                </div>
                <p class="inputLabel">СОЮЗНИКИ И ОРГАНИЗАЦИИ</p>
            </div>

            <div class="additionalFeaturesTraits">
                <textarea id="ADDITIONAL_FEATURES_TRAITS"></textarea>
                <p class="inputLabel">ДОПОЛНИТЕЛЬНЫЕ ОСОБЕННОСТИ И УМЕНИЯ</p>
            </div>
            <div class="treasure">
                <textarea id="TREASURE"></textarea>
                <p class="inputLabel">СОКРОВИЩА</p>
            </div>
        </div>
        <!------------------------------------ END SECOND COLUMN ------------------------------->
    </div>

    <!-- END SECOND PDF PAGE -------------------------------------------------------------- -->
    <!-- START THIRD PDF PAGE -------------------------------------------------------------- -->

    <div class="headerPdf headerPdf3">
        <div class="nameField characterName">
            <input id="SPELLCASTING_CLASS" type="text"/>
            <p class="inputLabel">КЛАСС ЗАКЛИНАТЕЛЯ</p>
        </div>
        <!-- pdfPageRow -->
        <div class="spells">
            <div class="fieldItem3">
                <input id="SPELLCASTING_ABILITY" type="text">
                <p class="inputLabel">БАЗОВАЯ ХАРАКТЕРИСТИКА ЗАКЛИНАНИЙ</p>
            </div>
            <div class="fieldItem3">
                <input id="SPELL_SAVE_DC" type="text">
                <p class="inputLabel">СЛОЖНОСТЬ СПАСБРОСКА</p>
            </div>
            <div class="fieldItem3">
                <input id="SPELL_ATTACK_BONUS" type="text">
                <p class="inputLabel">БОНУС БРОСКА АТАКИ ЗАКЛИНАНИЕМ</p>
            </div>
        </div>
    </div>
    <!-- End header on third pdf page -->


    <div class="pdfPage">
        <div class="pdfColumn thirdPageFirstColumn">

            <div class="slot cantrips">

                <div class="slotHeader">
                    <div class="numberOfCantrips">
                        <p>0</p>
                    </div>

                    <div class="slotLineHeader">
                        <p>ЗАГОВОРЫ</p>
                    </div>
                </div>

                <input type="text" class="InputsBorderBottom" id="CANTRIPS1">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS2">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS3">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS4">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS5">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS6">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS7">
                <input type="text" class="InputsBorderBottom" id="CANTRIPS8">

            </div>


            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>1</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_1" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_1" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>

                <div class="cantripsElem">
                    <input type="checkbox" disabled>
                    <p style="color: #aaa; width: 100%; text-align: center; border-bottom: 1px solid black; margin-bottom: 5px;">
                        НАЗВАНИЕ ЗАКЛИНАНИЯ</p>
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_9">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_10">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_10">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_11">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_11">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_1_12">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_1_12">
                </div>
            </div>

            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>2</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_2" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_2" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>

                <!-- (div[class=cantripsElem]>input[type=checkbox id=CANTRIPS_CHECK_2_$]+input[type=text class=InputsBorderBottom id=CANTRIPS_2_$])*12 -->
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_9">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_10">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_10">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_11">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_11">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_12">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_12">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_2_13">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_2_13">
                </div>

            </div>
        </div>

        <div class="pdfColumn">
            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>3</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_3" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_3" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>


                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_9">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_10">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_10">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_11">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_11">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_12">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_12">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_3_13">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_3_13">
                </div>
            </div>

            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>4</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_4" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_4" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>

                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_9">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_10">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_10">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_11">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_11">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_12">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_12">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_4_13">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_4_13">
                </div>
            </div>

            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>5</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_5" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_5" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>

                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_5_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_5_9">
                </div>
            </div>
        </div>

        <div class="pdfColumn">

            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>6</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_6" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_6" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>

                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_6_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_6_9">
                </div>
            </div>

            <div class="slot">

                <div class="slotHeader slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>7</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_7" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_7" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>

                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_7">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_8">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_8">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_7_9">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_7_9">
                </div>
            </div>


            <div class="slot">

                <div class="slotHeader
				 slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>8</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_8" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_8" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_8_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_8_7">
                </div>
            </div>

            <div class="slot">

                <div class="slotHeader
				 slotHeaderExtended">
                    <div class="numberOfCantrips">
                        <p>9</p>
                    </div>

                    <div class="slotsTotal">
                        <input id="SLOTS_TOTAL_9" type="text" placeholder="ИТОГО ЯЧЕЕК">
                    </div>

                    <div class="betImg"></div>

                    <div class="slotLineHeaderExtended">
                        <input id="SLOTS_FILL_9" type="text" placeholder="ЯЧЕЕК ИЗРАСХОДОВАНО">
                    </div>
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_1">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_1">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_2">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_2">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_3">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_3">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_4">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_4">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_5">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_5">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_6">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_6">
                </div>
                <div class="cantripsElem">
                    <input type="checkbox" id="CANTRIPS_CHECK_9_7">
                    <input type="text" class="InputsBorderBottom" id="CANTRIPS_9_7">
                </div>
            </div>
        </div>

    </div>
</div>


<div style="display: flex; flex-direction: row ">
    <input id="saveCharacterBtn" type="button" value="Сохранить нового героя"
           style="height: 42px;width: 33%;background: radial-gradient(circle, rgba(18,15,15,1) 40%, rgba(46,42,43,1) 60%);color: #aaa;border-color: #FFA500;">
    <input id="saveEditCharacterBtn" type="button" value="Редактировать"
           style="height: 42px;width: 33%;background: radial-gradient(circle, rgba(18,15,15,1) 40%, rgba(46,42,43,1) 60%);color: #aaa;border-color: #FFA500;">
    <input id="clearInputBtn" type="button" value="Сбросить поля"
           style="height: 42px;width: 33%;background: radial-gradient(circle, rgba(18,15,15,1) 40%, rgba(46,42,43,1) 60%);color: #aaa;border-color: #ffa500;">
</div>

{% endblock content %}


{% block integrated_js %}
{{ block.super }}

<script>
    function getValuesFromTextInputs() {
        let vals = {};
        $("input[type=text]").each(function () {
            vals[$(this).attr("id")] = $(this).val();
        });
        return vals;
    }

    function setValuesToTextInputs(vals) {
        let i = 0;
        $("input[type=text]").each(function () {
            $(this).val(vals[$(this).attr("id")]);
        });
    }

    function getValuesFromTextarea() {
        let vals = {};
        $("textarea").each(function () {
            vals[$(this).attr("id")] = $(this).val();
        });
        return vals;
    }

    function setValuesToTextarea(vals) {
        let i = 0;
        $("textarea").each(function () {
            $(this).val(vals[$(this).attr("id")]);
        });
    }


    function getValuesFromCheckboxInputs() {
        let vals = {};
        $("input[type=checkbox]").each(function () {
            vals[$(this).attr("id")] = $(this).is(":checked");
        });
        return vals;
    }

    function setValuesToCheckboxInputs(vals) {
        $("input[type=checkbox]").each(function () {
            $(this).prop("checked", vals[$(this).attr("id")]);
        });
    }


    function clearAllInputs() {
        $("input[type=text]").each(function () {
            $(this).val("");
        });

        $("input[type=checkbox]").each(function () {
            $(this).prop("checked", false);
        });

        $("textarea").each(function () {
            $(this).val("");
        });
    }


    function constructConfigFromAllFields() {
        let config = {};
        config = $.extend(config, getValuesFromTextInputs(), getValuesFromCheckboxInputs(), getValuesFromTextarea());
        return config;
    }

    function setValuesInAllFields(list_config) {
        if (!list_config) return false;
        let list_obj = JSON.parse(list_config);
        setValuesToTextInputs(list_obj);
        setValuesToCheckboxInputs(list_obj);
        setValuesToTextarea(list_obj);
        return true;
    }


    function fillFieldsExistHero() {
        let list_data = $("#CHARACTER").attr("list_data");
        if (list_data) {
            setValuesInAllFields(list_data);
        }
    }

    // ===================================================================================================

    $(document).ready(function () {

        fillFieldsExistHero();

        $("#saveCharacterBtn").click(function () {
            let fd = new FormData();
            fd.append("character_appearance", $("#CHARACTER_APPEARANCE")[0].files[0]);
            fd.append("allies_organizations_symbol", $("#ALLIES_ORGANIZATIONS_FILE")[0].files[0]);
            fd.append("csrfmiddlewaretoken", getCookie('csrftoken'));
            fd.append("list_config", JSON.stringify(constructConfigFromAllFields()));
            $.ajax({
                type: "POST",
                url: "{% url 'manage_lists:save_hero' %}",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.href = "{% url 'manage_lists:locale_collection' %}";
                }
            });
        });


        $("#saveEditCharacterBtn").click(function () {
            let fd = new FormData();
            fd.append("list_uuid", $("#CHARACTER").attr("list_uuid"));
            fd.append("character_appearance", $("#CHARACTER_APPEARANCE")[0].files[0]);
            fd.append("allies_organizations_symbol", $("#ALLIES_ORGANIZATIONS_FILE")[0].files[0]);
            fd.append("csrfmiddlewaretoken", getCookie('csrftoken'));
            fd.append("list_config", JSON.stringify(constructConfigFromAllFields()));

            $.ajax({
                url: "{% url 'manage_lists:save_hero' %}",
                type: "POST",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.href = "{% url 'manage_lists:locale_collection' %}";
                }
            });
        });

        $("#ALLIES_ORGANIZATIONS_FILE").change(function () {
            let allies = document.getElementById("ALLIES_ORGANIZATIONS_FILE").files[0];
            let preview = $("#ALL_IMG");
            let reader = new FileReader();

            reader.onloadend = function () {
                preview.attr("src", `${reader.result}`);
            };

            if (allies) {
                reader.readAsDataURL(allies);
            } else {
                preview.src = "";
            }
        });

        $("#CHARACTER_APPEARANCE").change(function () {
            let appearance = document.getElementById("CHARACTER_APPEARANCE").files[0];
            let preview = $("#APP_IMG");
            let reader = new FileReader();

            reader.onloadend = function () {
                preview.attr("src", `${reader.result}`);
            };

            if (appearance) {
                reader.readAsDataURL(appearance);
            } else {
                preview.src = "";
            }
        });

        $("#clearInputBtn").click(clearAllInputs);
    });
</script>
{% endblock integrated_js %}