{% extends 'manage_lists/list_viewer.html' %}


{% block title %}
Просмотр своих героев-персонажей для Dungeons&nbsp;&amp;&nbsp;Dragons
{% endblock title %}


{% block manage_lists_set %}
<a href="{% url 'manage_lists:create_hero' %}" class="row mx-md-3 my-2 py-2 align-items-center new-hero-creator">
    <div class="col-4 col-md-auto">
        <svg class="new-hero-creator_svg" viewBox="-40 -4 202 214">
            <use xlink:href="#id_hero_creator"></use>
        </svg>
    </div>

    <div class="col-8 col-md-auto new-hero-creator_text">
        <span>Создать нового героя</span>
    </div>
</a>
{% endblock manage_lists_set %}


{% block trash_icon %}
<a href="#" class="deleteHeroBtn"
   data-toggle="tooltip" data-placement="top"
   title="Удалить">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash pt-2 pb-2 pr-2"
         fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
</a>
{% endblock trash_icon %}


{% block refuse_icon %}
<a href="#" class="refuseHeroBtn" data-toggle="tooltip" data-placement="top" title="Отозвать публикацию">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cloud-check-fill p-2" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 4.854a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
    </svg>
</a>
{% endblock refuse_icon %}


{% block publish_icon %}
<a href="#" class="publishHeroBtn" data-toggle="tooltip" data-placement="top" title="Поделиться">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up p-2" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        <path fill-rule="evenodd"
              d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
    </svg>
</a>
{% endblock publish_icon %}
