{% extends 'base_page_struct.html' %}

{% block title %}
    Настройки аккаунта {{ request.user.username }}
{% endblock title %}

{% block link_css %}
    {{ block.super }}

    {% load static %}
    <link rel="stylesheet" href="{% static 'main_man/css/account_settings.css' %}">
{% endblock link_css %}


{% block content %}
    {% load static %}
    <div class="container-fluid">

        <div class="row py-2 my-2">
            <h2 class="col-12">Управление аккаунтом {{ request.user.username }}</h2>
        </div>

        <form method="post">

        </form>

        <div class="row align-items-center justify-content-between my-3">
            <div class="col-12">
                <label class="m-0" for="{{ account_settings_form.username.id_for_label }}">Имя:</label>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3 settingsInputWrapper">
                <input type="text"
                       id="{{ account_settings_form.username.id_for_label }}"
                       value="{{ request.user.username }}"
                       class="w-100"
                       maxlength="30" />
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3">
                {{ account_settings_form.username.errors }}
            </div>
        </div>


        <div class="row align-items-center justify-content-between my-3">
            <div class="col-12">
                <label class="m-0" for="{{ account_settings_form.email.id_for_label }}">Почтовый адрес:</label>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3 settingsInputWrapper">
                <input type="email"
                       id="{{ account_settings_form.email.id_for_label }}"
                       value="{{ request.user.email }}"
                       class="w-100 settingsInput"/>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3">
                {{ account_settings_form.email.errors }}
            </div>
        </div>

        <div class="row align-items-center justify-content-between my-3">
            <div class="col-12">
                <label class="m-0" for="{{ account_settings_form.psw_1.id_for_label }}">Новый пароль:</label>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3 settingsInputWrapper">
                <input type="text"
                       id="{{ account_settings_form.psw_1.id_for_label }}"
                       class="w-100 settingsInput"/>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3">
                {{ account_settings_form.psw_1.errors }}
            </div>
        </div>

        <div class="row align-items-center justify-content-between my-3">
            <div class="col-12">
                <label class="m-0" for="{{ account_settings_form.psw_2.id_for_label }}">Повторите новый пароль:</label>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3 settingsInputWrapper">
                <input type="text"
                       id="{{ account_settings_form.psw_2.id_for_label }}"
                       class="w-100 settingsInput"/>
            </div>
            <div class="col col-md-8 col-lg-5 col-xl-3">
                {{ account_settings_form.psw_2.errors }}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                <button type="button" class="btn btn-success w-100" id="UPDATE_SETTINGS_BTN">Сохранить изменения
                </button>
            </div>
        </div>
        <div class="row mb-2">
            {{ account_settings_form.non_field_errors }}
        </div>

        <div class="row py-2 my-2">
            <div class="col col-md-auto">
                <input type="submit"
                       class="main-action-btn bg-danger"
                       value="Удалить аккаунт"
                       id="DELETE_ACCOUNT_BTN"/>
            </div>
        </div>
    </div>
{% endblock content %}


{% block integrated_js %}
    {{ block.super }}
    <script>

        $("#UPDATE_SETTINGS_BTN").click(function (event) {
            event.preventDefault();
            let data = {};
            data["csrfmiddlewaretoken"] = getCookie('csrftoken');
            data["username"] = $("#id_username").val();
            data["email"] = $("#id_email").val();
            data["psw_1"] = $("#id_psw_1").val();
            data["psw_2"] = $("#id_psw_2").val();

            $.post("{% url 'main_man:update_settings' %}", data, function (data) {
                alert("Data saved");
                window.location.reload();
            });
        });


        $("#DELETE_ACCOUNT_BTN").click(function (event) {
            event.preventDefault();
            let confirmToDelete = confirm("Вы действительно хотите удалить аккаунт?");
            if(confirmToDelete) {
                $.post("{% url 'main_man:delete_account' %}", {"csrfmiddlewaretoken": getCookie('csrftoken')}, function (data) {
                    window.location.href = "/";
                });
            }
        });
    </script>

{% endblock integrated_js %}