{% extends 'base_page_struct.html' %}


{% block title %}
Sosadnd - отечественный ассистент для Dungeons&nbsp;&amp;&nbsp;Dragons
{% endblock title %}


{% block link_css %}
{{ block.super }}

{% endblock link_css %}


{% block content %}
{% load static %}
<div class="container-fluid">

    <div class="row py-2 justify-content-between">
        <div class="col-sm-12 col-md-12 col-lg-auto p-5">
            <h1 class="text-center font-weight-bolder text-monospace">SOSADND</h1>
            <h3 class="mt-3 text-center">Руcскоязычный помощник для игры в Dungeons and dragons</h3>
        </div>


        <form method="post" action="{% url 'main_man:login' %}" id="LOGIN_FORM" class="col-auto p-4 auth-form">
            {% csrf_token %}
            <div class="row m-auto d-flex justify-content-between align-items-center">
                <span class="hi-form-msg">Hi</span>
                <button class="toggle-form-btn" id="OPEN_REGISTER_BTN" type="button">
                    Зарегестрироваться
                </button>
            </div>

            <label class="w-100 m-0 p-0 mt-3" for="{{ login_form.username.id_for_label }}">Имя пользователя</label>
            <div class="row p-0 justify-content-stretch align-items-center auth-form_input-wrapper w-100 m-auto">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person p-1 col-auto" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                </svg>
                {{ login_form.username }}

            </div>

            <label class="w-100 m-0 p-0 mt-3" for="{{ login_form.password.id_for_label }}">Пароль</label>
            <div class="row p-0 justify-content-stretch align-items-center auth-form_input-wrapper w-100 m-auto">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-key p-1" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                    {{ login_form.password }}
            </div>
            <div class="my-1">
                {{ login_form.non_field_errors }}
            </div>
            <div class="row pt-3 align-items-center m-auto">
                <a href="{% url 'main_man:reset_psw' %}" class="col-auto p-0 pr-5 mr-auto help_with_psw" id="FORGET_PAS">Забыли пароль?</a>
                <input class="main-action-btn" type="submit" value="Войти" id="LOGIN_BTN">
            </div>
        </form>


        <form method="post" action="{% url 'main_man:register' %}" id="REGISTER_FORM" class="col-auto p-4 auth-form">
            {% csrf_token %}
            <div class="row m-auto d-flex justify-content-between align-items-center">
                <span class="hi-form-msg">Hi</span>
                <button class="toggle-form-btn" id="OPEN_LOGIN_BTN" type="button">
                    Войти
                </button>
            </div>

            <label class="w-100 m-0 p-0 mt-3" for="{{ register_form.new_username.id_for_label }}">Имя пользователя</label>
            <div class="row p-0 justify-content-stretch align-items-center auth-form_input-wrapper w-100 m-auto">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person p-1 col-auto" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                </svg>
                {{ register_form.new_username }}
            </div>

            <label class="w-100 m-0 p-0 mt-3" for="{{ register_form.psw_1.id_for_label }}">Пароль</label>
            <div class="row p-0 justify-content-stretch align-items-center auth-form_input-wrapper w-100 m-auto">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-key p-1" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                {{ register_form.psw_1 }}
            </div>
            <label class="w-100 m-0 p-0 mt-3" for="{{ register_form.psw_2.id_for_label }}">Повторите пароль</label>
            <div class="row p-0 justify-content-stretch align-items-center auth-form_input-wrapper w-100 m-auto">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-key p-1" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                {{ register_form.psw_2 }}
            </div>

            <div class="my-1">
                {{ register_form.non_field_errors }}
            </div>

            <div class="row pt-3 align-items-center m-auto">
                <input class="main-action-btn ml-auto" type="submit" value="Зарегестрироваться" id="REGISTER_BTN">
            </div>
        </form>

    </div>

</div>
{% endblock content %}


{% block integrated_js %}
{{ block.super }}
<script>
    function toggleForm(form1, form2) {
        let func = function () {
            form1.toggle();
            form2.toggle();
        };
        return func;
    }

    $("document").ready(function () {
        let loginForm = $("#LOGIN_FORM");
        let registryForm = $("#REGISTER_FORM");
        registryForm.hide();

        $("#OPEN_REGISTER_BTN").click(toggleForm(loginForm, registryForm));
        $("#OPEN_LOGIN_BTN").click(toggleForm(loginForm, registryForm));
    });
</script>
{% endblock integrated_js %}