{% extends 'base_page_struct.html' %}

{% block title %}
Восстановление пароля
{% endblock title %}

{% block header_menu %}
<!-- keep empty-->
{% endblock header_menu %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-5 text-center">Восстановление доступа к аккаунту</h1>
    <p class="text-center mb-5 text-danger">На стадии разработки!!!</p>
    <p class="text-center">Введите адрес электронной почты</p>
    <div class="row justify-content-center">
        <div class="col col-sm-6 col-md-4 col-lg-3">
            <input class="w-100" type="email" value=""/>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="col col-sm-6 col-md-4 col-lg-3">
            <input class="w-100 main-action-btn" type="button" value="Продолжить" />
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'main_man:index_page' %}">Вернуться на главную</a>
    </div>
</div>
{% endblock content %}