{% extends 'base_page_struct.html' %}


{% block title %}
Броски SOSADnD - Найдите свою лучшую конфигурацию броска
{% endblock title %}


{% block content %}
{% load static %}
<div class="container-fluid">

    <div class="row my-3">
        {% for item in DICES_TYPES %}
        <div class="col-sm-4 col-lg-2 p-0 p-sm-3 py-2">
            <div style="min-width: 150px; background: #737373;">
                {% load static %}
                <img class="img-fluid m-auto" src="{% static '/manage_dices/images/dices/d' %}{{ item }}.png"
                     style="max-height: 200px;"/>
                <label class="w-100 p-2" for="preset_d{{item}}">Колличество d{{ item }}:</label>
                <input class="w-100 text-center" id="preset_d{{item}}" type="number"/>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row no-gutters my-5 d-flex align-items-center position-relative">

        <p class="col-12 col-sm-auto">ВАШ&nbsp;РЕЗУЛЬТАТ: </p>

        <div class="thrown-dice-container">
            <div class="back side"><p class="edge">11</p></div>
            <div class="left side"><p class="edge">3</p></div>
            <div class="right side"><p class="edge">17</p></div>
            <div class="top side"><p class="edge">13</p></div>
            <div class="bottom side"><p class="edge">21</p></div>
            <div class="front side"><p id="result" class="edge">0</p></div>
        </div>
        <input class="col-12 col-sm-auto ml-auto main-action-btn p-2 px-4" id="roll_btn" type="button" value="БРОСИТЬ"/>
    </div>

    {% if user.is_authenticated %}
    <div class="row py-3" id="ALL-DICE-COMBINATIONS">
        <div class="col-auto my-2 px-0 px-sm-3" style="min-width: 200px; max-width: 300px;  min-height: 240px;">
            <div class="h-100 position-relative p-2" style="background: #0d0d0d; color: #aaa;">
                <span class="d-block text-right">Добавить</span>
                <span class="d-block text-right">комбинацию</span>
                <input class="w-100 position-absolute fixed-bottom main-action-btn" id="savePresetBtn" type="button" value="СОХРАНИТЬ"/>
            </div>
        </div>


        {% for i in presets %}
        <div class="col-auto my-2 px-0 px-sm-3" style="min-width: 200px; max-width: 300px; min-height: 240px;">

            <div class="h-100 position-relative preset" cube_uuid="{{ i.cube_uuid }}">
                <div class="row w-100 m-auto pt-2 pb-2">
                    <a href="#" class="col-auto ml-auto p-0" id="deletePresetBtn">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash p-1"
                             fill="#6a6a6a"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </div>

                <div class="row p-2 w-100 m-auto no-gutters">
                    <div class="col"></div>

                    <div class="col">
                        {% if i.d4 %}
                        <span class="d-block text-right">
                        {{ i.d4 }} d4
                        </span>
                        {% endif %}
                        {% if i.d6 %}
                        <span class="d-block text-right">
                        {{ i.d6 }} d6
                        </span>
                        {% endif %}
                        {% if i.d8 %}
                        <span class="d-block text-right">
                        {{ i.d8 }} d8
                        </span>
                        {% endif %}
                        {% if i.d10 %}
                        <span class="d-block text-right">
                        {{ i.d10 }} d10
                        </span>
                        {% endif %}
                        {% if i.d12 %}
                        <span class="d-block text-right">
                        {{ i.d12 }} d12
                        </span>
                        {% endif %}

                        {% if i.d20 %}
                        <span class="d-block text-right">
                        {{ i.d20 }} d20
                        </span>
                        {% endif %}
                    </div>


                </div>

                <input class="w-100 position-absolute fixed-bottom main-action-btn"
                       id="roll_saved_dices"
                       type="button"
                       value="БРОСИТЬ"/>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock content %}

{% block integrated_js %}
{{ block.super }}
<script>

    // For result dice -------------------------
    function setEdgesValues() {
        $(".edge").each(function (key, item) {
            $(item).text(Math.floor(Math.random() * 100));
        });
        return;
    }

    function setFrontValue(roll_result) {
        $("#result").text(roll_result);
        return roll_result;
    }

    //--------------------------------------------

    // Functions for rolling presets ------------------------------
    const DICES_TYPES = [4, 6, 8, 10, 12, 20];

    // return config-object: {"d4": 0, "d6": 15, ...}
    function getPresetConfigFromInputs() {
        let config = {};
        for (let TDice of DICES_TYPES) {
            config["d" + TDice] = $("#preset_d" + TDice).val() || 0;
        }
        return config;
    }

    // ------------------------------------------------------------

    $(document).ready(function () {

        // Set random values for dice
        setEdgesValues();
        // Set result value on front edge of dice
        setFrontValue(0);

        $(".preset").each(function () {
            let chosen_preset = $(this);
            let cube_uuid = $(this).attr("cube_uuid");
            let data = {
                "csrfmiddlewaretoken": getCookie('csrftoken'),
                "cube_uuid": JSON.stringify(cube_uuid),
            };

            $(this).find("#roll_saved_dices").click(function () {
                $.post("{% url 'manage_dices:inreg_roll_dices' %}", data, function (data) {
                    if (data.dice_error) {
                        alert(data.dice_error);
                    } else {
                        $('#result').html(data.result)
                        $(".thrown-dice-container").attr("class", "thrown-dice-container thrown-dice-container-roll");
                    }
                });
                $(".thrown-dice-container").attr("class", "thrown-dice-container");
            });


            $(this).find("#deletePresetBtn").click(function (event) {
                event.preventDefault();
                $.post("{% url 'manage_dices:delete_preset' %}", data, function (data) {
                    if (data.dice_error) {
                        alert(data.dice_error);
                    }
                    chosen_preset.parent().remove();
                });
            });
        });


        $('#roll_btn').click(function () {
            let data = {
                "preset": JSON.stringify(getPresetConfigFromInputs()),
                "csrfmiddlewaretoken": getCookie('csrftoken'),
            };

            $.post("{% url 'manage_dices:inreg_roll_dices' %}", data, function (data) {
                if (data.dice_error) {
                    $('#result').html(data.result)
                    alert(data.dice_error);
                } else {
                    $('#result').html(data.result)
                    $(".thrown-dice-container").attr("class", "thrown-dice-container thrown-dice-container-roll");
                }
            });
            $(".thrown-dice-container").attr("class", "thrown-dice-container");
        });


        $('#savePresetBtn').click(function () {
            let data = {
                "preset": JSON.stringify(getPresetConfigFromInputs()),
                "csrfmiddlewaretoken": getCookie('csrftoken'),
            };

            $.post("{% url 'manage_dices:save_preset' %}", data, function (data) {
                if (data.dice_error) {
                    alert(data.dice_error);
                }
                location.reload();
            });
        });
    });
</script>
{% endblock integrated_js %}