<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Page not found</title>
</head>
<body>
    <h1>Ухади. Tут пусто</h1>
    <a href="{% url 'main_man:index_page' %}">Вернуться на главную страницу</a>
</body>
</html>